*{
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.conteiner {
    width: 1200px;
    margin: 0 auto;
}

h2 {
    line-height: 140%;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 26px;
    width: 720px;    
}




@media screen and (max-width: 1279px) and (min-width: 768px) {
    .conteiner {
        width: 90vw;
    }
}

@media screen and (max-width: 767px) {
    .conteiner {
        width: auto;
        margin: 0 15px;
    }
    h2 {
        width: 90vw;
    }
   
}