@import './variables';

.pdf {
    
    position: relative;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    &__title {
        margin-top: 100px;
        width: 720px;
        font-size: 16px;
        padding: 20px 0;
        font-weight: 500;
        &::after {
            position: absolute;
            content: '';           
            margin: 9px 0 0 13px;
            width: 530px;
            height: 1px;
            background: #000;
        }
    }
    &__text1 {
        display: block;    
        width: 788px;
    }
}