@import './variables';

.pdf {
    
    position: relative;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    margin-bottom: 136px;
    &__title {
        margin-top: 100px;
        width: 720px;
        font-size: 16px;
        padding: 20px 0;
        font-weight: 500;
        &::after {
            position: absolute;
            content: '';           
            margin: 9px 0 0 13px;
            width: 530px;
            height: 1px;
            background: #000;
        }
    }
    &__text {
        /*display: grid;
        grid-template-columns: 500px 200px;
        grid-template-rows: 140px;
        align-items: center;
        column-gap: 160px;*/
        display: block;
        padding: 40px 0;
        line-height: 240%;
        /*span {
            color: #fff;
            font-weight: 400;
            padding-bottom: 10px;
            padding-right: 100px;
            line-height: 240%;*/
        &__image {
            position: absolute;
            top: 220px;
            left: 660px;
            width: 138px;
        }
    }   
    
    &__button {
        align-content: center;
        top: auto; 
        flex-direction: row;              
        right: 900px;
        height: 50px;
        width: 230px;
        color: #fff;
        padding: 10px 20px;
        background: $PrimaryBlue100;
    }   
}

@media screen and (max-width: 1279px) and (min-width: 768px){
    .pdf {
        &__title {
            margin-top: 14px;
        }
        &__text {
            
        }
    }

}

@media screen and (max-width: 767px){
    .pdf {
        margin-bottom: 50px;
        &__title {
            font-weight: 500;
            font-size: 12px;
            line-height: 150%;
            
            &::after {
                width: 260px;
                
            }
            &__item {
                
               
                font-weight: 600;
                font-size: 16px;
                line-height: 120%;
            }
        }
        &__text {
            padding: 10px 30px 160px 20px;
            &__image {
                top: 245px;
                left: 0;
                width: 130px;
            }
        }

    }
}